.carsTab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.carsTab-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 22%; 
    margin: 5px;
    height: 110px;
    padding: 20px 0 0 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--turners-brand-black);
}

.carsTab-item > img { 
    width: 130px;
}
.carsTab-item > div  {
    padding: 5px 0 0 0;
}