:root {
    --turners-brand-white: #ffffff;
    --turners-brand-grey: #f3f3f3;
    --turners-brand-blue: #006bb3;
    --turners-brand-black: #373f41;
    --turners-brand-red: #B71234;
    --turners-brand-lightBlue: #EAECF2;
}

@font-face {
    font-family: Poppins;
    src: url('./Fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: Poppins-bold;
    src: url('./Fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
    font-family: Poppins-regular;
    src: url('./Fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins-italics;
    src: url('./Fonts/Poppins/Poppins-Italic.ttf');
}

button:hover {
    cursor: pointer;
}